@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
}
body{
  width: 100vw;
  height: 100vh;
  
  
  background-color: rgba(197, 228, 231, 1);
 

}
.body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#root{
  height: 100%;
}
.container{
  height: 481px;
width: 920px;
border-radius: 25px;
background-color: white;
padding: 32px 32px 32px 48px;
display: flex;
margin: 0 auto;
margin-top: 87px;

}
h3{
  color:rgba(94, 122, 125, 1)
}
input{
  margin-top: 6px;
  height: 48px;
width: 379px;
border-radius: 5px;
background-color: rgba(243, 249, 250, 1);
text-align: right;
padding: 15px;
color:rgba(0, 71, 75, 1);
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0px;
border: none;

}
input:focus{
  outline: none;
}
.first-part{
   margin-top: 11px;
}
button{
  display: block;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
 appearance: none;
  margin: 0;
}
.enter-procent{
  height: 48px;
  width: 118px;
  background-color: rgba(243, 249, 250, 1);
  border-radius: 5px;
  


}
.tip{
  margin-top: 40px;
}


button{
  height: 48px;
width: 117px;
background-color: rgba(0, 71, 75, 1);
border-radius: 5px;
border: none;
color: white;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0px;
text-align: center;
cursor: pointer;
transition: 0.4s all ease-in;

}
button:hover{
  background-color:rgba(159, 232, 223, 1)
}
.buttons{
  display: grid;
  grid-template-columns: auto auto auto ;
  grid-template-rows: auto auto ;
  gap: 16px;
  margin-top: 16px;
  width: 379px;
  align-items: center;
}
.people-quantity{
  margin-top: 40px;
}
.second-part{
  height: 417px;
width: 413px;
background-color: rgba(0, 71, 75, 1);
border-radius: 15px;
padding: 40px 40px;
padding-bottom: 0;


}
h4{
  
font-size: 16px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0px;
color: white;

}
h5{
 
font-size: 13px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0px;
color: rgba(127, 157, 159, 1);

}
h2{
 color: rgba(38, 194, 174, 1);
font-size: 48px;
font-weight: 700;
line-height: 71px;
letter-spacing: -1px;


}
.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}
.second-part{
  margin-left: 40px;
}
.reset{
  height: 48px;
width: 333px;
background-color: rgba(38, 194, 174, 1);
border-radius: 5px;
color: rgba(0, 71, 75, 1);
margin-top: 134px;

}
.firstPart{
  width: 100%;
}
.img{
  margin-top: 163px;

}
.error{
  width: 379px;
 
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.eror{
  color: rgba(225, 116, 87, 1);
font-size: 16px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0px;
display: none;


}
.eror1{
  color: rgba(225, 116, 87, 1);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  display: none;

}
.change1{
  display: block;
}
.change{
  display: block;
}
.border{
 
  border: 2px solid rgba(225, 112, 82, 1);
  
}
.green{
  border: 2px solid rgba(38, 194, 174, 1);
}
.brux{
  border: 2px solid black;
  outline: none;
}
.green-color{
  background-color: rgba(38, 194, 174, 1);
  color: rgba(0, 71, 75, 1);
}

  
@media(max-width:1200px){
  .container{
   height: auto;
width: 375px;
padding: 32px;
flex-direction: column;
align-items: center;

  }
  input{
    height: 48px;
width: 311px;
left: 0px;
top: 0px;
border-radius: 5px;

  }
  .tip{
    margin-top: 32px;
  }
  .buttons{
    grid-template-columns: auto auto;
   
width: 311px;


  }
  button{
    height: 48px;
width: 146.6311798095703px;

border-radius: 5px;

  }
  .enter-procent{
    height: 48px;
width: 147.81369018554688px;

border-radius: 5px;

  }
  .people-quantity{
    margin-top: 32px;
  }
  .second-part{
    margin-top: 32px;
    height:auto;
width: 327px;
padding: 24px;
border-radius: 15px;
margin-left: 0px;

  }
  .reset{
    margin-top: 35px;
    height: 48px;
width: 281px;

border-radius: 5px;

  }
  .first-part{
    margin-top: 0px;
  }
  span{
    height: 47px;
width: 96px;


  }
  .error{
    width: 321px;
    display: flex;
    flex-direction: column;
  }
}